@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
    background-color: rgb(0, 213, 255);
}

.dark .parent {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
}

/* App class styles */
.App {
    transition: background-color 0.3s ease;
    background-color: var(--background-color, rgb(0, 213, 255));
    height: auto;
}

/* dark class styles */
.dark {
    --background-color: #202124;
    --text-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* DarkMode Enable */
.App-darkh {
    height: 100vh;
}

/* body */
body {
    /* background-color: rgb(178, 222, 255); */
    font-family: 'Open Sans', sans-serif;
}

/* DarkMode Button Styles */
#darkbtn {
    background-color: rgb(0, 213, 255);
    color: var(--text-color, #000000);
    transition: color 0.3s ease;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

/* DarkMode Enable */
.dark #darkbtn {
    border: 1px solid #ffffff;
    background-color: rgb(0, 0, 0);
}

/* Header styles */
header {
    width: 100%;
    background-color: var(--background-color, rgb(255, 255, 255));
    color: var(--text-color, #000000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 2%;
    box-shadow: 1px 1px 10px black;
    gap: 0px;
}

/* DarkMode is Enable */
.dark header {
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
}

/* Website Logo */
.logo img {
    width: 100px;
    height: 50px;
}

/* faq link */
.link-faq a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    margin: 0px 15px;
}

/* faq link DarkMode Enable */
.dark .link-faq a{
    color: white;
}

/* Search Button Styles */
#search-btn {
    background-color: rgb(0, 213, 255);
    color: var(--text-color, #000000);
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* DarkMode Enable */
.dark #search-btn {
    border: 1px solid #ffffff;
    background-color: rgb(0, 0, 0);

}

/* Search Button Hover effect Styles */
#search-btn:hover {
    background-color: rgb(53, 56, 56);
    color: #fff;
}

/* Select DropDown Styles for Category */
.select-category {
    display: flex;
    align-items: center;
}

/* Styles for Category */
#category {
    background-color: var(--background-color, rgb(255, 255, 255));
    color: var(--text-color, #000000);
    transition: color 0.3s ease;
    border-radius: 3px;
}

/* Buttons of navigate the Select DropDown  */
h4 {
    margin-right: 10px;
}

/*Select DropDown Styles for Language */
.select-language {
    display: flex;
    align-items: center;
    margin: 0;
}

/* Styles for Language */
#language {
    background-color: var(--background-color, rgb(255, 255, 255));
    color: var(--text-color, #000000);
    transition: color 0.3s ease;
    border-radius: 3px;
}

/* Search Input Styles */
#search {
    padding: 8px 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    width: 40%;
    color: #fff;
    background: rgb(71, 61, 61);
    font-family: 'Open Sans', sans-serif;
}

/* Search Input Hover Styles */
#search::placeholder {
    color: white;
}

/* DarkMode Enable */
.dark #search {
    background: #303134;
    /* border: 1px solid #fff; */
}

/* News is not rendering in api */
#no-news {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

/* DarkMode Enable */
.dark #no-news {
    color: #fff;
}

/* News Articles Container  */
.news-show {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* News Articles styles */
.section {
    background-color: var(--background-color, rgb(255, 255, 255));
    color: var(--text-color, #000);
    transition: color 0.3s ease;
    width: 800px;
    height: 330px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    display: flex;
}

/* DarkMode Enable  */
.dark .section {
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
}

/* News Article information Styles */
.section-h2-p {
    display: flex;
    flex-direction: column;
}

/* News title Styles */
#title {
    margin: 5px 0;
    padding: 0px 5px;
    font-size: 20px;
    overflow-y: scroll;
    /* height: 100px; */
    /* overflow: hidden; */
}

/* News description Styles */
#des {
    margin: 5px 0;
    padding: 0px 5px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
}

/* News Link Styles */
#link {
    margin: 5px 0;
    padding: 0px 5px;
    font-size: 12px;
}

/* DarkMode for Link */
.dark #link {
    color: #8a8383;
}

/* Rendring the News articles Styles */
.news-articles {
    width: 97%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    margin: 20px 20px;
}

/* class img */
.img {
    width: 70%;
    border-radius: 10px;
}

/* class img inside image */
.img img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 330px;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
}

/* Publishing date */
#publish-date {
    font-size: 14px;
    margin: 5px 0;
    padding: 0px 5px;
}

/* Loading animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader for animation */
.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

/* DarkMode for Loader */
.dark .loader {
    border: 4px solid rgb(86, 86, 86);
    border-top: 4px solid #212121;
}

/* Media Query Screen for MOBILE DIVICES */
@media only screen and (max-width: 767px) {

    /* Header styles */
    header {
        width: 100%;
        padding: 12px 3%;
        gap: 0px;
    }

    /* faq link */
    .link-faq a{
        font-size: 17px;
        margin: 0px;
    }

    /* Search Input styles */
    #search {
        font-size: 17px;
        padding: 3px 5px;
        width: 60%;
        border-radius: 2.89px;
    }

    /* Search Button */
    #search-btn {
        padding: 5px;
    }

    /* Search Buttons Icon Styles */
    #search-btn ion-icon {
        font-size: 20px;
    }

    /* DropDown category styles */
    .select-category {
        flex-direction: column;
    }

    /* category styles */
    #category {
        width: 20px;
        font-size: 13px;
    }

    /* Icon Styles */
    ion-icon {
        font-size: 20px;
    }

    /* Buttons of navigate the Select DropDown */
    h4 {
        margin-right: 0px;
        margin: -2.55px;
    }

    /* DropDown Language styles */
    .select-language {
        flex-direction: column;
    }

    /* Language styles */
    #language {
        width: 20px;
        font-size: 13px;
    }

    /* News is not rendering in api */
    #no-news {
        font-size: 20px;
        text-align: center;
    }

    /* News Articles Container  */
    .news-show {
        padding: 0px;
        margin: 10px 20px;
    }

    /* News Articles styles */
    .section {
        width: 100%;
        height: 400px;
        flex-direction: column;
    }

    /* News title Styles */
    #title {
        margin: 5px 0;
        padding: 0px 5px;
        font-size: 18px;
        overflow-y: hidden;
    }

    /* Rendring the News articles Styles  */
    .news-articles {
        width: 100%;
        margin: 0;
        row-gap: 20px;
    }

    /* News description Styles */
    #des {
        margin: 5px 0;
        padding: 0px 5px;
        font-size: 0.9rem;
        font-weight: 500;
        overflow: hidden;
    }

    /* News Link Styles */
    #link {
        margin: 5px 0;
        padding: 0px 5px;
        font-size: 0.9rem;
    }

    /* class img */
    .img {
        width: 100%;
        height: 220px;
    }

    /* class img inside image */
    .img img {
        width: 100%;
        height: 220px;
    }

    /* Publishing date */
    #publish-date {
        font-size: 15px;
    }
}

/* Media Query Screen for TABLET DIVICES */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    /* Header styles */
    header{
        padding: 12px 2%;
        gap: 10px;
    }
    /* Search Input */
    #search {
        font-size: 23px;
    }

    /* News is not rendering in api  */
    #no-news {
        font-size: 23px;
    }

    /* News Articles Container */
    .news-show {
        padding: 0px;
        margin: 30px 40px;
    }

    /* Header */
    header {
        width: 100%;
    }

    /*  News title Styles*/
    #title {
        margin: 5px 0;
        padding: 0px 5px;
        /* font-size: 12px; */
    }

    /* News description Styles */
    #des {
        margin: 5px 0;
        padding: 0px 5px;
        /* font-size: 0.7rem; */
        font-weight: 500;
        overflow: hidden;
    }

    /* News Link Styles */
    #link {
        margin: 5px 0;
        padding: 0px 5px;
        /* font-size: 0.7rem; */
    }

    /* Rendring the News articles Styles */
    .news-articles {
        column-gap: 20px;
    }

}

/* media query for VERY SMALL DIVICES */
@media only screen and (max-width: 213px) {

    /* DarkButton */
    #darkbtn {
        display: none;
    }

    /* Dreodown for Category */
    .select-category {
        display: none;
    }

    /* DropDown for Language */
    .select-language {
        display: none;
    }

    /* Search Button */
    #search-btn {
        display: none;
    }

    /* Website Logo */
    .logo {
        display: none;
    }
}
